	<style>
			
			#style1 {text-align:justify;color:green;font-size:30px}
			
			#style2 {text-align:justify;color:red;font-size:25px} 
			
			.home_page_heading1 {text-align:center;color:aqua;font-size:36;background:gray;padding:30px;float:justify}
			
			</style>	